{% extends 'controls/main.html' %}
{% load static %}
{% block content %}
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="row">
		<div class="col-sm">
			<div class="box-element">
				<form id="add_product" method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					
					<center>
							<strong>Add Product</strong>
					</center>
					
					<div class="cart-row">
					
					</div>
					
					<div class="cart-row">
						<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Name</strong></div>
						<div style="flex:1">&nbsp;&nbsp;{{form.name}}</div>
					</div>
					<div class="cart-row">
						<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Price</strong></div>
						<div style="flex:1"><strong>&nbsp;&nbsp;{{form.price}}</strong></div>
					</div>
					<div class="cart-row">
						<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Net Wt.</strong></div>
						<div style="flex:1"><strong>&nbsp;&nbsp;{{form.netwt}}</strong></div>
					</div>
					<div class="cart-row">
						<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Description</strong></div>
						<div style="flex:1"><strong>&nbsp;&nbsp;{{form.desc}}</strong></div>
					</div>
					<div class="cart-row">
						<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Slot</strong></div>
						<div style="flex:1"><strong>&nbsp;&nbsp;{{form.slot}}</strong></div>
					</div>
					<div class="cart-row">
						<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Stock</strong></div>
						<div style="flex:1"><strong>&nbsp;&nbsp;{{form.stock}}</strong></div>
					</div>
					<div class="cart-row">
						<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Image</br>{{form.image}}</strong></div>
						<div style="flex:1"><img id = "preview" src = "#" alt = "" style="border-radius: 8px;"/></div>
					</div>
					<center>
						{{form.errors.slot}}
						{% for message in messages %}
							<center>{{message}}</center>
						{% endfor %}
						<button type="submit" style="border-radius: 25px;" class="btn btn-success"><img src="{% static 'images/home/add_item.png' %}" height=25 width=25></button>
					</center>
				</form>
			</div>
			<br>
		</div>
		
		<div class="col-sm">
			<div class="box-element">
				
				<center>
							<strong>Products</strong>
				</center>
				<div class="cart-row">
				
				</div>
				<div class="cart-row">
					<div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;Slot</strong></div>
					<div style="flex:1"><strong>&nbsp;&nbsp;Product</strong></div>
				</div>
				{% for product in products %}
				<div class="cart-row">
					<div style="flex:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{product.slot}}</div>
					<div style="flex:1">&nbsp;&nbsp;&nbsp;{{product.name}}</div>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
<script>
	function display(input) {
	   if (input.files && input.files[0]) {
		  var reader = new FileReader();
		  reader.onload = function(event) {
			 $('#preview').attr('src', event.target.result)
					.width(80)
					 .height(80);
		  }
		  reader.readAsDataURL(input.files[0]);
	   }
	}

	$("#image").change(function() {
	   display(this);
	});
</script>
{% endblock content %}