{% extends 'controls/main.html' %}
{% load static %}

{% block content %}

	<div class="row">

		<div class="col-lg-12">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Home</a>
				<br><br>
				
				<table class="table">
					<tr>
						<!-- <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> Rs. {{order.get_cart_total}}</strong></h5></th>-->
						
						
						<th><h5>Export <strong>Report</strong></h5></th>
						<th>
							<img src="{% static 'images/report/download.png' %}" height=50 width=50>
						</th>
						<th>
							<img src="{% static 'images/report/email.png' %}" height=50 width=50>
						</th>
						
					</tr>
				</table>
			</div>
			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:1"><strong>Custemor</strong></div>
					<div style="flex:1"><strong>Order</strong></div>
					<div style="flex:1"><strong>Transaction Id</strong></div>
					<div style="flex:1"><strong>Date</strong></div>
					<div style="flex:1"><strong>Items</strong></div>
					<div style="flex:1"><strong>Amount</strong></div>
				</div>
				{% for order in orders %}
				<div class="cart-row">
					{% if order.transaction_id is not Null%}
					<div style="flex:1"><p>{{order.custemor.name}}</p></div>
					<div style="flex:1"><p>{{order}}</p></div>
					<div style="flex:1"><p>{{order.transaction_id}}</p></div>
					<div style="flex:1"><p>{{order.date_ordered|date:"SHORT_DATE_FORMAT"}}</p></div>
					<div style="flex:1"><p>{{order.get_cart_items}}</p></div>
					<div style="flex:1"><p>Rs. {{order.get_cart_total}}</p></div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
	
{% endblock content %}